{{!< default}}

{{> head}}

<main class="artee-post-container error-page" role="main">

	<article class="{{post_class}} artee-post row">

		<section class="artee-post-head small-12 columns">
			<span class="artee-error-page">
				<span class="artee-error-page-number">
					<span class="artee-error-page-font">{{code}}</span>
				</span>
			</span>
			<h1 class="artee-post-title">{{message}}</h1>
		</section>

		{{#if stack}}
			<section class="artee-post-content small-12 columns">
				<section class="artee-error-stack">
					<h3>Stack Trace</h3>
					<p><strong>{{message}}</strong></p>
					<ul class="artee-error-stack-list">
						{{#foreach stack}}
							<li>
								at
								{{#if function}}<em class="artee-error-stack-function">{{function}}</em>{{/if}}
								<span class="artee-error-stack-file">({{at}})</span>
							</li>
						{{/foreach}}
					</ul>
				</section>
			</section>
		{{/if}}

	</article>
</main>
